
@charset "utf-8";

$base_font_size: 16;
$base_space: 8;

$base_color: rgb(252, 252, 252);
$base2_color: rgb(0, 0, 0);
$main_color: #ffe4ce;

$key_color: rgb(75, 45, 244);
$key_color2: rgb(244, 88, 45);