@charset "utf-8";
//CSSファイル内で共通で使う変数や処理
@import "_values";
// @import "/assets/css/scss/circle_css/store/store";

// .c-Hero {
//     position: relative;
//     .a-Title {
//         position: absolute;
//         top: 30%;
//         left: 30%;
//         color: red;
//     }
// }


//====================================================
// test用
//====================================================
.test {
    background-color: $main_color;
}

//====================================================
// 共通css
//====================================================

body {
    background-color: $base_color;
    
    // TODO: レスポンシブに対応する
    font-size: $base_font_size;
}

* {
    color: rgb(14, 14, 14);
}
a {
    color: $key_color!important;
}
ol {
    list-style: decimal;
}

.is_main {
    color: $main_color!important;
}
.is_key {
    color: $key_color!important;
}
.is_key2 {
    color: $key_color2!important;
}
.a-Remark {
    color: $key_color2!important;
    font-size: 1.2rem;
}

.is_preparing {
    text-decoration: line-through;
}

//====================================================
// atomic
//====================================================

.a-Title {
    font-weight: bold;
    &.is_h2 {
        font-size: 2.5rem;

        padding-bottom: 0.8rem;
        background-image: linear-gradient(90deg, $key_color 0 60%, #dedede 20%);
        background-repeat: no-repeat;
        background-size: 100% 5%;
        background-position: bottom;
    }

    &.is_h3 {
        font-size: 1.8rem;
    }
}

//====================================================
// util
//====================================================

.u-ch-mt-2 {
    > * {
        margin-top: #{$base_space * 2}px;
    }
    > .has_no_mt {
        margin-top: 0px;
    }
}

.u-ch-mt-3 > * {
    > * {
        margin-top: #{$base_space * 3}px;
    }
    > .has_no_mt {
        margin-top: 0px;
    }
}

//====================================================
// 共通mixin
//====================================================
@mixin too_bottom_space() {
    padding-top: 40px;
    padding-bottom: 40px;
}

//====================================================
// componet
//====================================================

.c-Hero {
    background-color: $base2_color;
    padding-top: 80px;
    padding-bottom: 80px;

    .a-Title {
        font-size: 4rem;
        text-align: center;
        color: white;
    }
}


//====================================================
// module
//====================================================


.m-Article {
    > * {
        @include too_bottom_space;
    }
    section {
        > *:nth-child(n+2) {
            margin-top: #{$base_space * 3}px;
            padding-left: #{$base_space * 2}px;
        }
    }
}

.m-Footer {
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: $main_color;
    @include too_bottom_space;

    .m-Footer__inner {
        * > *:nth-child(n+2) {
            margin-top: #{$base_space * 1}px;
            padding-left: #{$base_space * 2}px;
        }
    }

    .c-Opening-Hours {
    }
}


//====================================================
// layout
//====================================================
.l-First-Visitor {
    .c-Steps {
        li > section > *:nth-child(n+2) {
            margin-top: #{$base_space * 1}px!important;
        }
    }
}


.l-Column {
    .c-List {
        a {
            color: #000000!important;
        }
    }
    .m-Article {
        > * {
            @include too_bottom_space;
        }
        section {
            section {
                margin-top: #{$base_space * 5}px;
            }
        }
    }
}