@charset "utf-8";
//CSSファイル内で共通で使う変数や処理
@import "/assets/css/scss/circle_css/store/store";

.c-Hero {
    position: relative;
    .a-Title {
        position: absolute;
        top: 30%;
        left: 30%;
        color: red;
    }
}