@charset "utf-8";
//CSSファイル内で共通で使う変数や処理
@import "_values";
// @import "/assets/css/scss/circle_css/store/store";

// .c-Hero {
//     position: relative;
//     .a-Title {
//         position: absolute;
//         top: 30%;
//         left: 30%;
//         color: red;
//     }
// }

@mixin min-sm() {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin min-md() {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin min-ml() {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin min-xl() {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin min-xxl() {
    @media (min-width: 1400px) {
        @content;
    }
}

//====================================================
// test用
//====================================================
.test {
    background-color: $main_color;
}

//====================================================
// 共通css
//====================================================

body {
    background-color: $base_color;
    // TODO: レスポンシブに対応する
    font-size: #{$base_font_size}px;
}

* {
    color: rgb(14, 14, 14);
}
a {
    color: $key_color!important;
}
ol {
    list-style: decimal;
}

.is_main {
    color: $main_color!important;
}
.is_key {
    color: $key_color!important;
}
.is_key2 {
    color: $key_color2!important;
}
.a-Remark {
    color: $key_color2!important;
    font-size: 1.2rem;
}

.is_preparing {
    text-decoration: line-through;
}

//====================================================
// atomic
//====================================================

.a-Title {
    font-weight: bold;
    &.is_h2 {
        font-size: 2.5rem;

        padding-bottom: 0.8rem;
        background-image: linear-gradient(90deg, $key_color 0 40%, #dedede 20%);
        background-repeat: no-repeat;
        background-size: 50% 5%;
        background-position: left bottom;
    }

    &.is_h3 {
        font-size: 1.8rem;
    }
}


.has_line {
    text-decoration: underline;
    text-underline-offset: #{$base_space * 1}px;
    text-decoration-color: $key_color2; 
}

//====================================================
// util
//====================================================

.u-ch-mt-2 {
    > * {
        margin-top: #{$base_space * 2}px;
    }
    > .has_no_mt {
        margin-top: 0px;
    }
}

.u-ch-mt-3 > * {
    > * {
        margin-top: #{$base_space * 3}px;
    }
    > .has_no_mt {
        margin-top: 0px;
    }
}

//====================================================
// 共通mixin
//====================================================
@mixin too_bottom_space() {
    padding-top: 40px;
    padding-bottom: 40px;
}

//====================================================
// componet
//====================================================

.c-Hero {
    background-color: $base2_color;
    padding-top: 80px;
    padding-bottom: 80px;

    .a-Title {
        font-size: 4rem;
        text-align: center;
        color: white;
    }
}

.c-Open-Course-Btn {
    display: none;
    @include min-md {
        display: inline-block;
        position: fixed;
        bottom: 30%;
        right: 0;
        z-index: 10000;
        background-size: 9%;
        text-align: center;
        border-radius: 50px 0 0 50px;
        border: 3px solid #ffffff;
        background: $key_color2 no-repeat 43px 57px !important;
        background-size: 14px!important;
        padding-left: 20px;
        padding-right: 20px;
        a {
            color: white!important;
            height: 60px;
            display: inline-block;
            line-height: 60px;
        }
    }
}


//====================================================
// module
//====================================================

.m-Article {
    > * {
        @include too_bottom_space;
    }
    .c-Section {
        > *:nth-child(n+2) {
            margin-top: #{$base_space * 3}px;
            padding-left: #{$base_space * 2}px;
        }
    }
}

.m-Footer {
    margin-top: 60px;
    background-color: $main_color;
    @include too_bottom_space;
    padding-bottom: 180px!important;

    .m-Footer__inner {
        * > *:nth-child(n+2) {
            margin-top: #{$base_space * 1}px;
            padding-left: #{$base_space * 2}px;
        }
    }

    .c-Opening-Hours {
    }
}


//====================================================
// layout
//====================================================
.l-First-Visitor {
    .c-Steps {
        li > section > *:nth-child(n+2) {
            margin-top: #{$base_space * 1}px!important;
        }
    }
}


.l-Column {
    .c-List {
        a {
            color: #000000!important;
        }
    }
    .m-Article {
        > * {
            @include too_bottom_space;
        }
        section {
            section {
                margin-top: #{$base_space * 5}px!important;
            }
        }
    }

    &.about_pain {
        .m-Article {
            .c-Section {
                .c-Section {
                    margin-top: #{$base_space * 5}px!important;
                }
            }
        }
    }
}

.l-Price {
    .a-Remark {
        text-align: right;
    }
}


.c-Gnav{
    width: 100%;
    background-color: $base_color;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
    box-shadow: 0px 5px 5px -2px #cccccc inset;
    
    .c-Gnav__wrapper {
        justify-content: center;
        padding-top: 8px;
        padding-bottom: 8px;

        li {
            border-left: #888 1px solid;
            text-align: center;
            width: calc(100%/4);
            transition: all  0.3s ease;

            &:last-child{
                border-right: #888 1px solid;
            }
            &:hover{
                background-color: #888;
                a {
                    color: white!important;
                }
            }
            a {
                display: block;
                padding: #{$base_space * 2}px 0;
                // color: #fff;
                text-decoration: none;

                font-size: 1rem;
                max-height: 40px;

                @include min-md{
                    font-size: 2rem;
                    max-height: 60px;

                }

            }
        }
    }
}

// .gnav_wrapper li{

// }
// .gnav_wrapper li:last-child{
//     border-right: #888 1px solid;
// }
// .gnav_wrapper li:hover{
//     background-color: #888;
// }
// .gnav_wrapper li a{
//     display: block;
//     padding: 1.3em 0;
//     color: #fff;
//     text-decoration: none;
// }