@charset "UTF-8";
/*================================================
        ブレイクポイント
================================================*/
/*================================================
        レスポンシブスタイルのmixin
================================================*/
/*================================================
      ブレイクポイントの基準でコンパイル順を変える
================================================*/
/*画像のアスペクト比を維持して
拡大・縮小をさせる
IE対応してる
<div class="Img-Wrapper">
  <img>
</div>

.Img-Wrapper {
  width: 200px;　　//状況による
  height: 200px;　//heightは必要。
  @include ---fit-Object-Cover;
}

*/
/*============================================================
                      中央寄せ
============================================================*/
/*============================================================
                      汎用
============================================================*/
/*================================================
        その他
===============================================--*/
/*================================================
        カラーアセット
================================================*/
/*================================================
        カラーアセット
================================================*/
.c-Hero {
  position: relative;
}
.c-Hero .a-Title {
  position: absolute;
  top: 30%;
  left: 30%;
  color: red;
}